<section id="welcome_container">
  <div id="welcome">
  <h1>Welcome to Survey Gorilla</h1>
  <div id="welcome_login">
  <%= form_tag controller: 'sessions', action: :create do %>
    <div class="form_fields">
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div><br>
    <div class="form_fields">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="form_fields">
      <%= submit_tag "Login" %>
    </div>
  <% end %>
    <div>
      <%= link_to "New User? Sign Up!", new_user_path %>
    </div>
    <div>
      <h2>It's pretty basic. Features are limited.</h2>
    </div>
 </div>
</div>
</section>
