<h2><%= @user.first_name %>'s Profile</h2>
<div> <%= link_to "Edit Profile", edit_user_path %> </div>
<table>
  <tr>
    <th> Survey Name
    </th>
    <th> Created At
    </th>
    <th> Finished
    </th>
    <th> Options
    </th>
</tr>
<tr> <% @surveys.all.each do |survey| %>
            <% if survey.creator_id ==  @user.id %>
                <td> <%= survey.title %> </td>
                <td> <%= survey.created_at%> </td>
                <td> <%= survey.status %> </td>
                <td> <%= link_to "Edit Survey", edit_survey_path %> </td>
                <td> <%= link_to "See Survey", survey_path %> </td></tr>
            <% end %>
        <% end %><td>
</td>


</tr>
<tr> <td> blah</td> <td> blah</td> <td> blah</td> <td> blah</td></tr>
<tr> <td> blah</td> </tr>
</table>
<%= link_to "Find a Survey", surveys_path %>
<%= link_to "Create a New Survey", new_survey_path %>
