<div class="profile_container">
<div class="form" id="new_survey">
  <%= form_for @survey do |f| %>
    <div class="form_fields" id="survey_title">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="form_fields" id="question_body">
      <%= f.fields_for :questions do |question| %>
        <%= render 'question_fields', f: question %>
      <% end %>
      <%= link_to_add_fields "Add Question", f, :questions %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
</div>
